nav {
    background: #000C16;
    font-family: 'Google Sans';
    font-size: 16px;
    line-height: 20.35px;
    color: #E4E4E4;
    padding: 1% 9% !important;
}


    nav a {
        color: #e4e4e4;
        text-decoration: none
    }

        nav a:hover {
            color: #e4e4e4;
            text-decoration: none
        }

.nav-right {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: .3s
    }

        .sidenav a:hover {
            color: #f1f1f1
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 36px;
        margin-left: 50px
    }

#mySidenav > .nav-link {
    font-size: 16px;
    line-height: 20px;
    font-family: arial, san-serif;
    border-bottom: .3px solid rgba(193, 142, 25, .5);
    /*font-weight: 500px;*/
}

@media screen and (max-width:768px) {
    #large-screen {
        display: none
    }

    #small-screen {
        display: block;
        padding-right: 0 !important;
    }
}

@media screen and (min-width:992px) {
    #large-screen {
        display: block;
        display: flex
    }

    #small-screen {
        display: none
    }
}

@media screen and (max-width:1500px) {
    .nav-right {
        width: 40%
    }
}


.nav-item .nav-link {
    font-size: 15px;
    padding: .5rem !important;
    color: #fff;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.modal {
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

.flex {
    display: flex;
}

.hidden {
    display: none !important;
}

.in-session {
    color: #fff;
}

.top-up-credit, .logout {
    padding-top: 5px;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border: 3px solid green !important;
}

@media screen and (max-width:991px) {
    #large-screen {
        display: none
    }

    #small-screen {
        display: block;
        padding-right: 0 !important
    }
}

@media screen and (min-width:992px ) {
    #large-screen {
        display: block;
        display: flex
    }

    #small-screen {
        display: none
    }
}

.small-nav {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    width: 80%;
}
/*
    .small-nav > li {
        padding: 0% 4%
    }*/

.color-green {
    color: green !important;
    fill: green !important;
}

.color-red {
    color: red !important;
    fill: red !important;
}

.color-blue {
    color: #9e9eff !important;
    fill: #9e9eff !important;
}
.yellow-color {
    color: khaki !important;
    fill: khaki !important;
}

.align-items-center {
    align-items: center;
}

div:where(.swal2-container) button:where(.swal2-styled):where(.swal2-confirm) {
    background-color: #00aa44 !important;
}

@media screen and (max-width:575px) {
    #small-screen {
        padding: 2% !important;
    }
}
