/* line 1, ../sass/_header.scss */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 9;
}
/* line 8, ../sass/_header.scss */
header .wrapper {
    max-width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* line 16, ../sass/_header.scss */
header .logo {
    max-width: 170px;
    margin-right: 20px;
}
/* line 19, ../sass/_header.scss */
header .logo img {
    max-height: 100%;
}
/* line 23, ../sass/_header.scss */
header .menu {
    display: flex;
    position: relative;
    min-width: fit-content;
}
/* line 27, ../sass/_header.scss */
header .menu .menu_wrapper {
    display: flex;
    gap: 10px;
}
/* line 31, ../sass/_header.scss */
header .menu .menu-item {
    position: relative;
    display: flex;
    cursor: pointer;
}
/* line 35, ../sass/_header.scss */
header .menu .menu-item:hover {
    filter: brightness(1.5);
}
/* line 39, ../sass/_header.scss */
header .menu .menu-item p {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 5px 30px;
}
/* line 45, ../sass/_header.scss */
header .menu .menu-item p::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 15px;
}
/* line 55, ../sass/_header.scss */
header .menu .menu-item::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    transform: scaleY(0.6);
    background: linear-gradient(90deg, #3c6a35 0%, #5ea753 50%, #3c6a35 100%);
    border-bottom-right-radius: 50px 100px;
    border-top-left-radius: 50px 100px;
}
/* line 72, ../sass/_header.scss */
header .btn-back {
    text-decoration: none;
    margin-right: 10px;
}
/* line 76, ../sass/_header.scss */
header .btn-back p::before {
    background-image: url('../images/arrow-back-ico.png');
}
/* line 83, ../sass/_header.scss */
header .btn-user p::before {
    background-image: url('../images/user-ico.png');
}
/* line 90, ../sass/_header.scss */
header .btn-credit p::before {
    background-image: url('../images/bath_ico.png');
}
/* line 97, ../sass/_header.scss */
header .btn-logout p::before {
    background-image: url('../images/logout-ico.png');
}
/* line 102, ../sass/_header.scss */
header .btn-contact {
    display: none !important;
}
/* line 105, ../sass/_header.scss */
header .btn-contact p::before {
    background-image: url('../images/contact_ico.png');
}
/* line 110, ../sass/_header.scss */
header .btn-home {
    display: none !important;
}
/* line 113, ../sass/_header.scss */
header .btn-home p::before {
    background-image: url('../images/home_ico.png');
}

/* line 121, ../sass/_header.scss */
.menu-icon {
    display: none;
    cursor: pointer;
}

/* line 127, ../sass/_header.scss */
.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #1cdf2e;
    margin: 6px 0;
    transition: 0.4s;
}

/* line 137, ../sass/_header.scss */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 142, ../sass/_header.scss */
.change .bar2 {
    opacity: 0;
}

/* line 146, ../sass/_header.scss */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 1200px) {
    /* line 152, ../sass/_header.scss */
    header .menu .menu_wrapper {
        display: none;
    }

    /* line 155, ../sass/_header.scss */
    .menu-icon {
        display: block;
        margin-left: 30px;
    }

    /* line 162, ../sass/_header.scss */
    header .menu .menu_wrapper_active {
        display: grid;
        position: fixed;
        align-items: center;
        justify-content: center;
        grid-template-rows: 55px 55px 55px 55px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: auto;
        padding-top: 15vh;
    }
    /* line 175, ../sass/_header.scss */
    header .menu .menu_wrapper_active .menu-item {
        margin-left: 0 !important;
        padding: 0px;
    }

    /* line 181, ../sass/_header.scss */
    header .btn-home,
    header .btn-contact {
        display: flex !important;
    }
}
@media only screen and (max-width: 767px) {
    /* line 187, ../sass/_header.scss */
    .btn-back {
        display: none !important;
    }

    /* line 190, ../sass/_header.scss */
    header .wrapper {
        padding: 10px 15px;
    }

    /* line 193, ../sass/_header.scss */
    header .logo {
        max-width: 140px;
    }
}