/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

body {
    background-image: url(../../../image/baccarat_bg.png);
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #000000 !important;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

.button {
    color: white !important;
    border: none !important;
    outline: none !important;
    background-image: url("../../../new_theme/images/btn-background.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: unset;
    width: 120px;
    height: 35px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

    #navbarSupportedContent ul {
        padding: 0px;
        margin: 0px;
    }

        #navbarSupportedContent ul li a i {
            margin-right: 10px;
        }

    #navbarSupportedContent li {
        list-style-type: none;
        float: left;
    }

    #navbarSupportedContent ul li a {
        color: rgba(255,255,255,0.5);
        text-decoration: none;
        font-size: 15px;
        display: block;
        padding: 20px 20px;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        position: relative;
    }

    #navbarSupportedContent > ul > li.active > a {
        color: #5161ce;
        background-color: transparent;
        transition: all 0.7s;
    }

    #navbarSupportedContent a:not(:only-child):after {
        content: "\f105";
        position: absolute;
        right: 20px;
        top: 10px;
        font-size: 14px;
        font-family: "Font Awesome 5 Free";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
        transition: 0.5s;
    }

    #navbarSupportedContent .active > a:not(:only-child):after {
        transform: rotate(90deg);
    }

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

    .hori-selector .right,
    .hori-selector .left {
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #fff;
        bottom: 10px;
    }

    .hori-selector .right {
        right: -25px;
    }

    .hori-selector .left {
        left: -25px;
    }

        .hori-selector .right:before,
        .hori-selector .left:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #5161ce;
        }

    .hori-selector .right:before {
        bottom: 0;
        right: -25px;
    }

    .hori-selector .left:before {
        bottom: 0;
        left: -25px;
    }


@media(min-width: 992px) {
    .navbar-nav.nav-right .nav-item {
        position: relative;
        min-height: 50px;
        padding: 0 5px;
    }
    .navbar-nav.nav-right .nav-item > * {
        z-index: 2;
    }
    .navbar-nav.nav-right .nav-item::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        z-index: 1;
        transform: scaleY(0.6);
        background: linear-gradient(90deg, #3c6a35 0%, #5ea753 50%, #3c6a35 100%);
        border-bottom-right-radius: 50px 100px;
        border-top-left-radius: 50px 100px;
    }
    
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

        .navbar-expand-custom .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row;
        }

        .navbar-expand-custom .navbar-toggler {
            display: none;
        }

        .navbar-expand-custom .navbar-collapse {
            display: -ms-flexbox !important;
            display: flex !important;
            flex-basis: auto;
        }
}


@media (max-width: 768px) {

    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }

    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

        .hori-selector .left,
        .hori-selector .right {
            right: 10px;
        }

        .hori-selector .left {
            top: -25px;
            left: auto;
        }

        .hori-selector .right {
            bottom: -25px;
        }

        .hori-selector .left:before {
            left: -25px;
            top: -25px;
        }

        .hori-selector .right:before {
            bottom: -25px;
            left: -25px;
        }
}

.navbar-expand-lg .navbar-collapse.out-session {
    justify-content: flex-end;
}

#large-screen .countryCode {
    margin-left: 10px;
}
.nav-link-active {
    color: khaki !important;
}

.collapse.navbar-collapse.in-session {
    flex-grow: unset;
}

.navbar-nav.nav-right.in-session {
    flex-grow: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* CSS rules cho tablet */
    #small-screen .middle-show {
        display: block;
        width: 60%;
    }
    #small-screen .small-show {
        display: none;
    }
    #small-screen button.navbar-toggler {
        display: unset !important;
    }
}

@media only screen and (max-width: 767px) {
    .header-user-icon {
        display: none;
    }
    /* CSS rules cho tablet */
    #small-screen .small-show {
        display: block;
    }
    #small-screen .middle-show {
        display: none;
    }
}

#small-screen button.navbar-toggler {
    padding-top: 0px;
}

@media screen and (max-width:575px) {
    #small-screen > div.d-flex > .countryCode {
        width: 60px;
        padding: 0;
    }
    #small-screen .small-nav .nav-item .nav-link {
        padding: 0 !important
    }
}
.navbar.fixed {
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.floating-btns {
    position: fixed;
    bottom: 40px;
    z-index: 1;
    right: 40px;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    justify-content: space-between;
}

#regisform .text-left span {
    display: inline-block;
    margin-bottom: 0.5rem;
}